In [3]:
def student_info(*args, **kwargs):

    print(args)
    print(kwargs)

courses = ['math', 'art']
info = {'name': 'Jhon', 'age': 22}

In [5]:
student_info(courses, info)

(['math', 'art'], {'name': 'Jhon', 'age': 22})
{}

In [10]:
def student_info(*args, **kwargs):

    print(args)
    print(kwargs)

courses = ['math', 'art']
info = {'name': 'Jhon', 'age': 22}

In [9]:
student_info(*courses, **info)

('math', 'art')
{'name': 'Jhon', 'age': 22}

In [32]:
month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

def is_leap(year):
    """Returns True for leap years, False for non-leap years."""
    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

def days_in_month(year, month):
    """Return number of days in that month in that year """

    if not 1 <= month <= 12: 
        return "Invalid Month"

    if month == 2 and is_leap(year):
        return 29
    return month_days[month]

In [33]:
is_leap(2017),is_leap(2020)

(False, True)

In [34]:
days_in_month(2017,2),days_in_month(2020,2)

(28, 29)

In [35]:
2017 % 100

17

In [36]:
2017 % 400

17

In [30]:
2017  % 4

1

In [31]:
2020 % 4 , 2020 % 100 , 2020 % 400

(0, 20, 20)

SyntaxError: invalid syntax (2364164644.py, line 1)