In [1]:
# is and == difference

# "=="  always checks for values if the values are same it will return True else false 
# "is" always checks for identy or reference for the values if the ids are same it will return True else false.

# == is for value equality. Use it when you would like to know if two objects have the same value.
# is is for reference equality. Use it when you would like to know if two references refer to the same object.

In [3]:
# is 

a = 500
b = 500

print(id(a))
print(id(b))
print(a is b)
print(a==b)

1877237313712
1877237317488
False
True

In [4]:

a = 1
b = 1

print(id(a))
print(id(b))
print(a is b)
print(a==b)

1877161541872
1877161541872
True
True

In [5]:

a = "Hello"
b = "Hello"


print(id(a))
print(id(b))
print(a is b)
print(a==b)

1877237412592
1877237412592
True
True

In [6]:

a = [1,2]
b = [1,2]

a == b

True

In [7]:
a == b

False

In [8]:
a = 1,2,3
b = 1,2

In [10]:
print(a == b)
print(a is b)

False
False

In [11]:
a = [1, 2, 3]
b = [1, 2, 3]
print(a == b) #True
print(a is b) #false

True
False

In [12]:
a = [1, 2, 3]
b = a
print(a == b) #True
print(a is b) #True

True
True

In [25]:
n = 5
# Test one.
if n == 5:
    print('Yay!')

# Test two.
if n is 5:
    print('Yay!.....')
else:
    print("hi")

Yay!
Yay!.....

<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\91798\AppData\Local\Temp\ipykernel_21616\915179982.py:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if n is 5:

In [29]:
L = [] # 0 
L.append(1) #[1]
if L == [1]: # TrUE
    print('Yay!') # Yay!
# Holds true, but...

if L is [1]: #False
    print('Yay!')
# Doesn't.

print(id([1]))
print(id(L))

Yay!
1877263226048
1877263225920

In [30]:
# type convertions

# int

print(str(100))
print(int(100))
print(float(100))
print(bool(100))
print(complex(100))

100
100
100.0
True
(100+0j)

In [31]:
s = 'hi'
print(int(s))

ValueError: invalid literal for int() with base 10: 'hi'

In [35]:
a = [1,2,3]


print(a[4])

ValueError: 4 is not in list

In [36]:
"Hello" + 5  # this will raise an typeerror

TypeError: can only concatenate str (not "int") to str

In [37]:
5.append("world")

SyntaxError: invalid decimal literal (505920452.py, line 1)

In [1]:
s1 = [1, 2, 3, 4, 5]
s = sum([i for i in s1])
print(s)

15