In [1]:
# 3
# Krishna 67 68 69
# Arjun 70 98 63
# Malika 52 56 60
# Malika


# # Sample Output 0

# # 56.00

In [9]:
num = int(input())


student_marks = {}

print(student_marks)
for _ in range(num):

    line = input().split()
    print("line name",line)
    name = line[0]
    print("name:",name)
    scores = list(map(float, line[1:]))
    print("scores:",scores)

    student_marks[name] = scores

query_name = input()

if query_name in student_marks:
    scores = student_marks[query_name]
    print(scores)



    
    average_marks = sum(scores) / len(scores)

     # Print the average formatted to two decimal places
    print(f"{average_marks:.2f}")
else:
    print(f"Student '{query_name}' not found")

# 3
# Krishna 67 68 69
# Arjun 70 98 63
# Malika 52 56 60
# Malika

 3

{}

 Krishna 67 68 69

line name ['Krishna', '67', '68', '69']
name: Krishna
scores: [67.0, 68.0, 69.0]

 Arjun 70 98 63

line name ['Arjun', '70', '98', '63']
name: Arjun
scores: [70.0, 98.0, 63.0]

 Malika 52 56 60

line name ['Malika', '52', '56', '60']
name: Malika
scores: [52.0, 56.0, 60.0]

  Malika

Student ' Malika' not found