In [6]:
lambda : print("Hello World")

In [11]:
(lambda : print("Hello World"))()

Hello World

<function <lambda> at 0x00000244D2C50790>

In [12]:
(lambda x : x **2)(5)

25

In [14]:
def fun(x):
    return x ** 5

fun(5)

3125

In [15]:
greet = lambda : print('Hello World')

In [17]:
greet()

Hello World

In [19]:
# Python lambda Function with an Argument

greet_user = lambda name : print("hey there,", name)

greet_user('ganesh')

hey there, ganesh

In [22]:
(lambda name : print("hey there,", name))('ganesh')

hey there, ganesh

In [23]:
def double(n):

    return n * 2

print(double(2))

4

In [24]:
# above program using lambda

double = lambda n : n *2 

print(double(2))

4

In [28]:

elements = lambda l : [i  for i in l]

In [29]:
elements([1,2,3])

[1, 2, 3]

In [30]:
larger = lambda a, b : a if a>b else b

In [31]:
larger(10,3)

10

In [63]:
names = ['alan', 'groegtry', 'Zaltan', 'jonas', 'Tom']

# here key is sort based on length of each string 
names.sort(key = lambda x: len(x))

In [65]:
names

['Tom', 'alan', 'jonas', 'Zaltan', 'groegtry']

In [38]:
names.sort()

In [39]:
names

['Tom', 'Zaltan', 'alan', 'groegtry', 'jonas']

In [41]:
l = [1,2,3,4,5,6]
l.sort()

In [42]:
l

[1, 2, 3, 4, 5, 6]

In [43]:
l.sort(reverse = True)

In [44]:
l

[6, 5, 4, 3, 2, 1]

In [45]:
# sort 

my_list = [1, 2, 3, 4, 5, 6]

# Bubble sort implementation
n = len(my_list)
for i in range(n):
    for j in range(0, n-i-1):
        if my_list[j] > my_list[j+1]:
            my_list[j], my_list[j+1] = my_list[j+1], my_list[j]

print(my_list)

[1, 2, 3, 4, 5, 6]

In [47]:
range(1, n-i-1)

range(1, 0)

In [49]:
range(0,6-0-1)

range(0, 5)

In [51]:
n = len(my_list)

n

6

In [52]:
range(0, n-i-1)

range(0, 0)

In [58]:
my_list = [1, 2, 3, 4, 5, 6]

# Bubble sort implementation
n = len(my_list)
for i in range(n):
    print("i val:",i)
    for j in range(1, len(l)):
        print(j)
        if my_list[j] > my_list[j-1]:
            my_list[j], my_list[j-1] = my_list[j-1], my_list[j]

print(my_list)

i val: 0
1
2
3
4
5
i val: 1
1
2
3
4
5
i val: 2
1
2
3
4
5
i val: 3
1
2
3
4
5
i val: 4
1
2
3
4
5
i val: 5
1
2
3
4
5
[6, 5, 4, 3, 2, 1]

In [62]:
l = [6, 5, 4, 3, 2, 1]


for i in range(len(l)):
    for j in range(1,len(l)):
        if l[j-1] > l[j]:
            l[j] ,l[j-1] = l[j-1] , l[j]
print(l)

[1, 2, 3, 4, 5, 6]

In [76]:
s = "mylist program myfunction program"

print(s.split()[0].strip())
print(s.replace("program", ""))
# print(s.split()[0])

mylist
mylist  myfunction

In [75]:
s

'mylist program myfunction program'

In [77]:
def add(n1, n2):
    return n1 + n2

add(10,2)

12

In [6]:
add = lambda n1, n2 : n1 + n2 

add(10,3)

13

In [10]:
my_lamda = lambda a , b, c, d : (a*2, b*2, c*2, d*2)

result = my_lamda(9,10,20,15)

In [11]:
result

(18, 20, 40, 30)

In [15]:
a= lambda a , b, c, d : (a*2, b*2, c*2, d*2)

In [17]:
print(a(1,2,3,4))

(2, 4, 6, 8)

In [19]:
# Take input from the user for a sequence of numbers
input_str = input("Enter a sequence of numbers separated by commas: ")

# Split the input string into individual elements and convert them to integers
numbers = list(map(int, input_str.split(',')))
print("numbers...", numbers)
# Define a lambda function to double each element
double_func = lambda x: x * 2
# print("double_func.....",double_func )
# Use the lambda function with map to double each element in the sequence
doubled_numbers = list(map(double_func, numbers))

# Print the original sequence and the doubled sequence
print("Original sequence:", numbers)
print("Doubled sequence:", doubled_numbers)

Enter a sequence of numbers separated by commas:  1,2,3,4

numbers... [1, 2, 3, 4]
double_func..... <function <lambda> at 0x000001E4ACC84940>
Original sequence: [1, 2, 3, 4]
Doubled sequence: [2, 4, 6, 8]

In [ ]:
input_str = input("Enter a sequence of numbers separated by commas: ")

# Split the input string into individual elements and convert them to integers
numbers = list(map(int, input_str.split(',')))