In [1]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [2]:
# index()
help(list.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

In [3]:
# syntax

# list.index(elements,start, end)

In [4]:
# index() Parameters
# The list index() method can take a maximum of three arguments:
# element - the element to be searched 
# start (optional) - start searching from this index
# end (optional) - search the element up to this index

In [5]:
# return Value from index()
# --the index() method returns the index of the given element in the list 
# -- if the element is not found a valueError exception is raised 


# Note:The index method return the first occurance of the matching element

In [11]:
# Example 1: Find the index of the element

# vowels list
vowels = ['a', 'e', 'i', 'o', 'i', 'u']

index = vowels.index('a')
index_1 = vowels.index('e')

In [14]:
print('the index of a:',index)
print(index_1)

the index of a: 2
1

In [15]:
# element 'i' is searched
# index of the first 'i' is returned
index = vowels.index('i')
print('the index of i:', index)

the index of i: 2

In [21]:
# to find the second i : 
index = vowels.index('i',vowels.index('i')+1)
print('second index of i:',index)

second index of i: 4

In [22]:
# ex:2 index of element not present in the list 

# vowels list:
vowels = ['a','e','i','o','u']

index = vowels.index('z')
print('index of p:',index)

ValueError: 'z' is not in list

In [25]:
# Example 3: Working of index() With Start and End Parameters

# alphabets list
alphabets = ['a', 'e', 'i', 'o', 'g', 'l', 'i', 'u']

# index of 'i' in alphabets 

index = alphabets.index('e')
print('The index of e:',index)

index = alphabets.index('i',4) 
print('the index of i:',index)

# 'i' between 3rd and 5th index is searched
index = alphabets.index('i',3,5)
print('The index of i:',index)

The index of e: 1
the index of i: 6

ValueError: 'i' is not in list

In [28]:
# python list append methods

# the append() method adds an item to the end of the list 

# syntax :

# list.append(item)

# append() parameters 

# The append() method takes a single argument 


# .item : an item to be added at the end of the list

# the item can be numbers , strings , dictionaries , another list, and so on

In [29]:
# Return Value from append()

# The append()  method does'nt return any value(return None).

In [31]:

# Example 1: Adding Element to a List

# animals list
animals = ['cat', 'dog', 'rabbit']

animals.append('guinea pig')
print("updated animal list:",animals)

updated animal list: ['cat', 'dog', 'rabbit', 'guinea pig']

In [32]:
# Example 2: Adding List to a List

# animals list
animals = ['cat', 'dog', 'rabbit']
# list of wild animals
wild_animals = ['tiger', 'fox']

animals.append(wild_animals)

print('Updated animal list:',animals)

Updated animal list: ['cat', 'dog', 'rabbit', ['tiger', 'fox']]

In [33]:
# Python List extend()

# The extend() method add all the elements of an iterable(list,tuple,String etc.) to the end of the list .

# list.extend(iterable)

# here all the elements of iterables are added to the end of the list1.

# extend() parameters 

# As mentioned the extend method takes an iterable such as list , tuple , string etc.

# Return Value from extend()
# The extend method modifieds the original list it does'nt return any value.

In [34]:
# Example 1: Using extend() Method

# language list
language = ['French', 'English']

# another list of language
language1 = ['Spanish', 'Portuguese']

language.extend(language1)

print('Language List:',language)

Language List: ['French', 'English', 'Spanish', 'Portuguese']

In [36]:
# Example 2: Add Elements of Tuple and Set to List

# language list
language = ['French']

# language tuple
language_tuple = ('Spanish', 'Portuguese')

# language set
language_set = {'Chinese', 'Japanese'}

language.extend(language_tuple)
print('New Language List:', language)

language.extend(language_set)

print('New Language List:', language)

New Language List: ['French', 'Spanish', 'Portuguese']
New Language List: ['French', 'Spanish', 'Portuguese', 'Japanese', 'Chinese']

In [39]:
# extedn taked only iterables what if we give numbers which are not iterables

a = [1,2]
b = 'hi'

a.extend(b)

In [40]:
a

[1, 2, 'h', 'i']

In [41]:

# other ways to extend a list 

# You can also append all elements of an iterable to the list using:

a = [1,2]
b = [3,4]

a+= b # a = a+b

# output : [1,2,3,4]
print('a =',a)

a = [1, 2, 3, 4]

In [42]:
# 2. the list slicing syntax

a = [1, 2]
b = [3, 4]

a[len(a):] = b  # a[2:] = b

# Output: [1, 2, 3, 4]
print('a =', a)

a = [1, 2, 3, 4]

In [48]:

# Python extend() Vs append()

a1 = [1,2]
a2 = [1,2]
b = (3,4)

a1.extend(b) # [1,2,3,4]
print('extend method:',a1)

a2.append(b)
print('append method:',a2)

extend method: [1, 2, 3, 4]
append method: [1, 2, (3, 4)]

In [49]:

vowel = ['a', 'e', 'i', 'u']

In [50]:
help(vowels.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [51]:
vowel = ['a', 'e', 'i', 'u']

# 'o' is inserted at index 3
# the position of 'o' will be 4th
vowel.insert(3, 'o')

print('Updated List:', vowel)

Updated List: ['a', 'e', 'i', 'o', 'u']

In [54]:
vowel = ['a', 'e', 'i', 'u']

vowel.insert(3,'o')
print(vowel)

['a', 'e', 'i', 'o', 'u']

In [55]:
mixed_list = [{1, 2}, [5, 6, 7]]

# number tuple
number_tuple = (3, 4)

# inserting a tuple to the list
mixed_list.insert(1, number_tuple)

print('Updated List:', mixed_list)

Updated List: [{1, 2}, (3, 4), [5, 6, 7]]

In [56]:
# Python List remove()

# the list remove() method removes the first element (which is passed an argument) from the list

In [57]:
# systax:
# list.remove(element)

In [58]:
# The remove() method takes a single element as an argument and removes it from the list.
# If the element doesn't exist, it throws ValueError: list.remove(x): x not in list exception.

In [59]:
# Return Value from remove()
# The remove() doesn't return any value (returns None).

In [60]:
# Example 1: Remove element from the list

# animals list
animals = ['cat', 'dog', 'rabbit', 'guinea pig']

# 'rabbit' is removed
animals.remove('rabbit')

print('Updated list items:',animals)

Updated list items: ['cat', 'dog', 'guinea pig']

In [61]:
# Example 2: remove() method on a list having duplicate elements
# the first matching element.

animals = ['cat', 'dog', 'dog', 'guinea pig', 'dog']

animals.remove('dog')

print('Updated animals list: ',animals)

# Here, only the first occurrence of element 'dog' is removed from the list.

Updated animals list:  ['cat', 'dog', 'guinea pig', 'dog']

In [62]:


# Example 3: Deleting element that doesn't exist

# animals list
animals = ['cat', 'dog', 'rabbit', 'guinea pig']

# Deleting 'fish' element
animals.remove('fish')

# Updated animals List
print('Updated animals list: ', animals)

ValueError: list.remove(x): x not in list

In [63]:
# If you need to delete elements based on the index (like the fourth element), you can use the list pop() method.
# Also, you can use the Python del statement to remove items from the list.

In [64]:
# Python List count()
# The count() method returns the number of times the specified element appears in the list.

# Syntax:

# list.count(element)

# count() Parameters

In [65]:
# The list count() method takes a single argument:

# element - the element to be counted

In [66]:
# Return Value from count()
# The count() method returns the number of times element appears in the list.

In [69]:
 # Example 1: Use of List count()

# vowels list
vowels = ['a', 'e', 'i', 'o', 'i', 'u']

# count element 'i'
count = vowels.count('i')

# print count
print('The count of i is:', count)

count = vowels.count('p')

# print count
print('The count of p is:', count)

The count of i is: 2
The count of p is: 0

In [70]:
# Example 2: Count Tuple and List Elements Inside List

# random list
random = ['a', ('a', 'b'), ('a', 'b'), [3, 4]]

# count element ('a', 'b')
count = random.count(('a', 'b'))

# print count
print("The count of ('a', 'b') is:", count)

# count element [3, 4]
count = random.count([3, 4])

# print count
print("The count of [3, 4] is:", count)

The count of ('a', 'b') is: 2
The count of [3, 4] is: 1

In [71]:
# Python List pop()
# The pop() method removes the item at the given index from the list and returns the removed item.

# Syntax:

# list.pop(index)

In [72]:

# pop() Parameters
# The pop() method takes a single argument (index).
# The argument passed to the method is optional. If not passed, the default index -1 is passed as an argument (index of the last item).
# If the index passed to the method is not in range, it throws IndexError: pop index out of range exception.

In [73]:
# Return Value from pop()
# The pop() method returns the item present at the given index. This item is also removed from the list.

In [78]:
id(1)

1880889688304

In [79]:
id(1)

1880889688304

In [80]:
id(1.2)

1881006935824

In [81]:
id(1.2)

1880995182800

In [84]:
id(256)

1880889696464

In [85]:
id(256)

1880889696464

In [86]:
id(300)

1880993682672

In [87]:
id(300)

1880993682480

In [88]:
# Example 1: Pop item at the given index from the list

# programming languages list
languages = ['Python', 'Java', 'C++', 'French', 'C']


# remove and return the 4th item
return_value = languages.pop(3)
print('Return Value:', return_value)

# Updated List
print('Updated List:', languages)

Return Value: French
Updated List: ['Python', 'Java', 'C++', 'C']

In [90]:
# programming languages list
languages = ['Python', 'Java', 'C++', 'Ruby', 'C']

# remove and return the last item
print('When index is not passed:') 
print('Return Value:', languages.pop())
print('Updated List:', languages)


# remove and return the last item
print('\nWhen -1 is passed:') 
print('Return Value:', languages.pop(-1))
print('Updated List:', languages)

# remove and return the third last item
print('\nWhen -3 is passed:') 
print('Return Value:', languages.pop(-3))
print('Updated List:', languages)

When index is not passed:
Return Value: C
Updated List: ['Python', 'Java', 'C++', 'Ruby']

When -1 is passed:
Return Value: Ruby
Updated List: ['Python', 'Java', 'C++']

When -3 is passed:
Return Value: Python
Updated List: ['Java', 'C++']

In [93]:
languages = ['Python', 'Java', 'C++', 'Ruby', 'C']

languages.remove('Python')

In [95]:
languages = ['Python', 'Java', 'C++', 'Ruby', 'C']
languages.pop(0)

'Python'

In [96]:
# Python List reverse()
# The reverse() method reverses the elements of the list.

# Syntax:

# list.reverse()
# reverse() Parameters
# The reverse() method doesn't take any arguments.

# Return Value from reverse()
# The reverse() method doesn't return any value. It updates the existing list.

In [97]:
# Example 1: Reverse a List

# Operating System List
systems = ['Windows', 'macOS', 'Linux']
print('Original List:', systems)

# List Reverse
systems.reverse()

# updated list
print('Updated List:', systems)

Original List: ['Windows', 'macOS', 'Linux']
Updated List: ['Linux', 'macOS', 'Windows']

In [98]:
# Example 2: Reverse a List Using Slicing Operator

# Operating System List
systems = ['Windows', 'macOS', 'Linux']
print('Original List:', systems)

# Reversing a list	
#Syntax: reversed_list = systems[start:stop:step] 
reversed_list = systems[::-1]

# updated list
print('Updated List:', reversed_list)

Original List: ['Windows', 'macOS', 'Linux']
Updated List: ['Linux', 'macOS', 'Windows']

In [102]:
# Example 3: Accessing Elements in Reversed Order
# If you need to access individual elements of a list in the reverse order, 
# it's better to use reversed() function.

# Operating System List
systems = ['Windows', 'macOS', 'Linux']

# Printing Elements in Reversed Order
for o in reversed(systems):
    print(o)

Linux
macOS
Windows

In [106]:
vowels = ['e', 'a', 'u', 'o', 'i']

In [1]:
a= [1,2,3]
b = a.append('xyx')

In [2]:
a

[1, 2, 3, 'xyx']

In [3]:
b

In [4]:
a.pop(1)

2

In [5]:
a.remove?

Signature: a.remove(value, /)
Docstring:
Remove first occurrence of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

In [7]:
a.remove(1)

In [8]:
a

[3, 'xyx']

In [10]:
print(a.append(1))

None

In [11]:
vowels = ['e', 'a', 'u', 'o', 'i']
vowels.sort()

In [12]:
vowels

['a', 'e', 'i', 'o', 'u']

In [13]:
vowels.sort(reverse=True)

In [14]:
vowels

['u', 'o', 'i', 'e', 'a']

In [15]:
# Based on the results of the key function, you can sort the given list.

# list.sort(key=len)
# Alternatively for sorted:
# sorted(list, key=len)
# Here, len is the Python's in-built function to count the length of an element.
# The list is sorted based on the length of each element, from lowest count to highest.

In [18]:
# tuple is sorted using its first parameter by default.

# Example 3: Sort the list using key

# take second element for sort

def takeSecond(elem):
    return elem[1]

# random llist

random = [(2, 2), (3, 4), (4, 1), (1, 3)]

random.sort(key=takeSecond)

In [19]:
print('Sorted list:',random)

Sorted list: [(4, 1), (2, 2), (1, 3), (3, 4)]

In [21]:
def takeSecond(elem):
    return elem[1]


elem = [(2,2),(3,4),(4,1),(1,3)]

elem.sort(key=takeSecond)

print(elem)

[(4, 1), (2, 2), (1, 3), (3, 4)]

In [22]:
employees = [
    {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
]

In [23]:
def get_name(employee):
    return employee.get('Name')


def get_age(employee):
    return employee.get('age')


def get_salary(employee):
    return employee.get('salary')

# sort by name (Ascending order)
employees.sort(key=get_name)
print(employees, end='\n\n')

# sort by Age (Ascending order)
employees.sort(key=get_age)
print(employees, end='\n\n')

# sort by salary (Descending order)
employees.sort(key=get_salary, reverse=True)
print(employees, end='\n\n')

[{'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}]

[{'Name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]

[{'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}, {'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}, {'Name': 'John Hopkins', 'age': 18, 'salary': 1000}]

In [25]:
# It is a good practice to use the lambda function when the function can be summarized in one line. So, we can also write the above program as:

In [ ]:
employees = [
    {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
]

In [ ]:
employees.sort(key=lambda x: x.get('Name'))
print(employees,end='\n\n'

In [ ]:
# sort by Age (Ascending order)
employees.sort(key=lambda x: x.get('age'))
print(employees, end='\n\n')

In [ ]:
# sort by Age (Ascending order)
employees.sort(key=lambda x: x.get('salary))
print(employees, end='\n\n')

In [29]:
print('\nhelo\n')

helo
helo

In [32]:
a = ('x','a','aaa')
c= 'ganesh'

a+= c

print(a)

TypeError: can only concatenate tuple (not "str") to tuple

In [34]:
a = ('x','a','aaa',[1,2])
a[3].append(3)

In [35]:
a

('x', 'a', 'aaa', [1, 2, 3])

In [36]:
a = ('x','a','aaa',[1,2])
a[3]=1,2

TypeError: 'tuple' object does not support item assignment

In [37]:
list(a)

['x', 'a', 'aaa', [1, 2]]

In [38]:
tuple(a[3])

(1, 2)

In [39]:
a = ('x','a','aaa',[1,2])
tuple(a[3])

(1, 2)

In [1]:
# # copy\
# Python List copy()
# The copy() method returns a shallow copy of the list.

# A list can be copied using the = operator. For example,

In [2]:
old_list = [1, 2, 3]
new_list = old_list
print('old_list:', old_list)
print('new_list:', new_list)

old_list: [1, 2, 3]
new_list: [1, 2, 3]

In [3]:
id(old_list),id(new_list)

(1653225055936, 1653225055936)

In [4]:
# The problem with copying lists in this way is that 
# if you modify new_list, old_list is also modified. 
# It is because the new list is referencing or pointing to the same old_list object.

In [5]:
old_list = [1,2,3]
new_list = old_list

# add an element to list

new_list.append('a')

print('New list:', new_list)
print('New list:', old_list)

New list: [1, 2, 3, 'a']
New list: [1, 2, 3, 'a']

In [6]:

# However, if you need the original list unchanged 
# when the new list is modified, you can use the copy() method.

# new_list = list.copy()

In [7]:
# copy() Parameters
# The copy() method doesn't take any parameters.

In [8]:
# Return Value from copy()
# The copy() method returns a new list. It doesn't modify the original list.

In [9]:
# Example 1: Copying a List

# mixed list
my_list = ['cat', 0, 6.7]

# copying a list 

new_list = my_list.copy()

print('Copied list:', new_list)

Copied list: ['cat', 0, 6.7]

In [10]:
# If you modify the new_list in the above example, my_list will not be modified.

In [11]:
# Copy List Using Slicing Syntax

# shallow copy using the slicing syntax

list = ['cat',0,6.7]

# copying a list using slicing

new_list = list[::]

new_list.append('dog')

print('Old List:', list)
print('New List:', new_list)

Old List: ['cat', 0, 6.7]
New List: ['cat', 0, 6.7, 'dog']

In [12]:
# Python List clear()
# The clear() method removes all items from the list.

# Syntax:

# list.clear()
# pop() Parameters
# The clear() method doesn't take any parameters.

In [13]:
# Return Value from clear()
# The clear() method only empties the given list. It doesn't return any value.

In [14]:
# Defining a list
list = [{1, 2}, ('a'), ['1.1', '2.2']]

#clearing a list 
list.clear()

print('List:', list)

List: []

In [15]:
# Note: If you are using Python 2 or Python 3.2 and below, 
# you cannot use the clear() method. You can use the del operator instead.

# Defining a list
list = [{1, 2}, ('a'), ['1.1', '2.2']]

#clearing a list 

del list[::]

print('List:', list)

List: []

In [1]:
employees = [
    {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
]


def get_name(employee):
    return employee.get('Name')

def get_age(employee):
    return employee.get('age')

def get_salary(employee):
    return employee.get('salary')


employees.sort(key=get_name)
print(employees,"\n\n")

employees.sort(key=get_age)
print(employees,"\n\n")

employees.sort(key=get_salary)
print(employees,"\n\n")

[{'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}]


[{'Name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]


[{'Name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}, {'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]

In [6]:
employees = [
    {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
]


employees.sort(key= lambda x :x.get('Name'))
print(employees,'')


employees.sort(key= lambda x :x.get('age'))
print(employees)

[{'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}]
[{'Name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]