# 1. 12345 ---> 1 + 2 + 3 + 4 + 5 --
# with and without using the string conversion

In [1]:
s = 12345
s%10

5

In [2]:
s//10

1234

In [5]:
s= 12345
result = 0
while s>0: #12345 > 0 
    result += s%10 # 5+0->5
    s //=10 # 1234
print(result)

15

In [8]:
def factorial(x):

    if x ==0:
        return 1
    else:
        return (x* factorial(x-1))
x =3
print(f"the factorial of {x} is {factorial(x)}")
x =6
print(f"the factorial of {x} is {factorial(x)}")

the factorial of 3 is 6
the factorial of 6 is 720

In [1]:
def sum_digits_separately_recursive(num):
    if num == 0:
        return 0
    else:
        return num % 10 + sum_digits_separately_recursive(num // 10)

# Example usage
result = sum_digits_separately_recursive(12345)
print("Total sum of digits separately (recursive):", result)  # Output will be 15

Total sum of digits separately (recursive): 15

In [5]:
sum_digits_separately_recursive(12345 // 10)

10

In [17]:
def int_sum(num):
    print("only num",num,"\n")
    print("percentile ",num % 10,"\n")
    print("division",num//10,"\n")
    if num <= 9:
        print(num)
        return num
    else:
        # print("only num",num)
        # print("percentile ",num % 10)
        # print("division",num//10)
        return num % 10 + int_sum(num // 10)
num = 12345
int_sum(num)

only num 12345

percentile  5

division 1234

only num 1234

percentile  4

division 123

only num 123

percentile  3

division 12

only num 12

percentile  2

division 1

only num 1

percentile  1

division 0

1

15

In [20]:
def int_sum(num):
    return num if num ==0 else num % 10 + int_sum(num//10)

In [21]:
int_sum(12345)

15

In [43]:
# 2 . 12345 ---> 1 + 2 + 3 + 4 + 5 if sum is > 9 ---
# add individual elements and the sum has to be < 10
def int_sum9(num):
    
    result = 0
    
    while num >0:
        result += num% 10
        num//=10
    if result >=9:
        return int_sum9(result)
    return result

In [44]:
int_sum9(12345) ,int_sum9(123),int_sum9(1234)

(6, 6, 1)

In [48]:
1234%9 , 123%9

(1, 6)

In [51]:
9%10,9//10

(9, 0)

In [52]:
9/10

0.9

In [53]:
def int_sum9(num):
    result = 0
    while num >0:
        result += num%10
        num //=10
    if result >9:
        return int_sum9(result)
    return result

In [54]:
int_sum9(12345)

6

In [57]:
# Find the common part from the given iterables
# Example: (1,2,3,4,6), (1,2,3,7,8,9), (1,2,3,10,11,12), (1,2,13,14,15)
# Result: (1,2)

data =  (1,2,3,4,6), (1,2,3,7,8,9), (1,2,3,10,11,12), (1,2,13,14,15)
print(list(zip(data)))

[((1, 2, 3, 4, 6),), ((1, 2, 3, 7, 8, 9),), ((1, 2, 3, 10, 11, 12),), ((1, 2, 13, 14, 15),)]

In [58]:
print(list(zip(*data)))

[(1, 1, 1, 1), (2, 2, 2, 2), (3, 3, 3, 13), (4, 7, 10, 14), (6, 8, 11, 15)]

In [6]:
# 1. 12345 ---> 1 + 2 + 3 + 4 + 5 --
# with and without using the string conversion
num = 12345
result = 0


while num>0:
    result += num %10
    num //= 10

result

15

In [9]:
num = 12345

def count_l9(num):

    result = 0

    
    while num >0:
        result += num %10
        num //=10
    if result >9:
        return count_l9(result)
    return result

count_l9(12345)