In [1]:
# python set remove()

In [4]:
# the remove method removes the specified element from the set 

# set is like a dictionary but it contains only keys 
# (or)
# set contains immutable unique and hashable elements

In [6]:
s = {[1,2],{1:'hi'}}

TypeError: unhashable type: 'list'

In [7]:
hash([1,2])

TypeError: unhashable type: 'list'

In [8]:
hash((1,2))

-3550055125485641917

In [11]:
s = {1,1,2,3,4,5,6,6}

In [14]:
s

{1, 2, 3, 4, 5, 6}

In [17]:
for i in s:
    print(i,end="")

123456

In [18]:
# Python Set remove()
# The remove() method removes the specified element from the set.

In [19]:
# set.remove(element)

In [21]:
# remove() parameters
print(dir(s))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [22]:
help(s.remove)

Help on built-in function remove:

remove(...) method of builtins.set instance
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [23]:
set1 = {"Welcome", "to", "Python", "course"}

set1.remove('course')

In [24]:
set1

{'Python', 'Welcome', 'to'}

In [26]:
# Example 2: Remove an Element From The Set

# language set
language = {'English', 'French', 'German'}

# removing 'German' from language
language.remove('German')
print("Updated language set:",language)

Updated language set: {'English', 'French'}

In [27]:
# animal set
animal = {'cat', 'dog', 'rabbit', 'guinea pig'}

# Deleting 'fish' element
animal.remove('fish')

# Updated animal
print('Updated animal set:', animal)

KeyError: 'fish'

In [29]:
# set is an mutable datatype and unordered \
# set is like a dictionary but it contains only keys 

# set contains immutable unique and hashable elements

In [30]:
# Python Set add()

In [32]:
# The add() method adds a given element to a set. If the element is already present, it doesn't add any element

# syntax:
# set.add(elem)
# add() method does'nt add an element to the set if its already present in it 


# add() Parameters
# The add() method takes a single parameter:

# elem - the element that is added to the set

In [37]:
set1 = set()

set1.add(20)
set1.add('hi')
print(set1)

{'hi', 20}

In [41]:
vowels = {'a', 'e', 'i', 'u'}

vowels.add('o')

print(vowels)

vowels.add('a')
print("Vowels are:",vowels)

{'i', 'o', 'u', 'e', 'a'}
Vowels are: {'i', 'o', 'u', 'e', 'a'}

In [43]:
vowels = {'a', 'e', 'u'}
tup = ('i','o')

vowels.add(tup)

print("Vowels are:",vowels)

Vowels are: {'u', 'a', ('i', 'o'), 'e'}

In [44]:
vowels = {'a', 'e', 'u'}
li = ['i','o']

vowels.add(li)

print("Vowels are:",vowels)

TypeError: unhashable type: 'list'

In [52]:
vowels = {'a', 'e', 'u'}
li = ['i','o']
try:
    vowels.add(li)
except TypeError as e:
    raise  TypeError('error occured during adding a list mutable elements to set') from e

# print("Vowels are:",vowels)

TypeError: error occured during adding a list mutable elements to set

In [55]:
vowels = {'a', 'e', 'u'}
li = ['i', 'o']
try:
    vowels.add(li)
except TypeError as e:
    raise TypeError('Error occurred during adding a list with mutable elements to set') from e

TypeError: Error occurred during adding a list with mutable elements to set

In [ ]:
# copy method

In [56]:

numbers = {1, 2, 3, 4}

new_numbers = numbers.copy()
new_numbers.add(5)

print('numbers:', numbers)
print('new numbers:', new_numbers)

numbers: {1, 2, 3, 4}
new numbers: {1, 2, 3, 4, 5}

In [59]:
numbers = {1, 2, 3, 4}
num = numbers

num.add(5)

print(numbers)
print(num)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [60]:
# Python Set clear()
# The clear() method removes all elements from the set.

# Syntax:

# set.clear()

# clear() Parameters
# The clear() ethod doesn't take any parameters.

# Return Value from clear()
# The clear() method doesn't return any value and returns None.

In [61]:
vowels = {'a', 'e', 'i', 'o', 'u'}

print('Vowels (before clear):', vowels)

vowels.clear()
print('Vowels (after clear):', vowels)

Vowels (before clear): {'i', 'o', 'e', 'u', 'a'}
Vowels (after clear): set()

In [62]:
# Example 1:

#deleting a set
set1 = {"Welcome", "to", "Python", "course"}
del set1
print(set1)

NameError: name 'set1' is not defined

In [63]:
# vPython Set difference()
# The difference() method returns the set difference of two sets.

# If A and B are two sets. The set difference of A and B is a set of elements that exists only in set A but not in B.

In [64]:
# # If A = {1, 2, 3, 4}
# # B = {2, 3, 9}

# # Then,
# # A - B = {1, 4}
# # B - A = {9}

# Syntax:

# A.difference(B)
# Here, A and B are two sets. The following syntax is equivalent to A-B.

In [65]:
# Return Value from difference()
# The difference() method returns the difference between two sets which is also a set. It doesn't modify original sets.

In [66]:
# Python Set difference_update()

In [69]:
A = {'a', 'c', 'g', 'd'}
B = {'c', 'f', 'g'}

result = A.difference_update(B)

result1 = B.difference_update(A)
print('A = ', A)
print('B = ', B)
print('result = ', result)
print('result1 = ', result1)

A =  {'a', 'g', 'd', 'c'}
B =  {'f'}
result =  None
result1 =  None

In [70]:
# Python Set discard()
# The discard() method removes a specified element from the set

# Return Value from discard()
# The discard() removes element x from the set if the element is present.

# This method returns None (meaning, absence of a return value).

In [73]:
numbers = {2, 3, 4, 5}

numbers.discard(3)
print('numbers = ', numbers)

numbers.discard(10)
print('numbers1 = ', numbers)

numbers =  {2, 4, 5}
numbers1 =  {2, 4, 5}

In [79]:
 # Example 2: How discard() works?

numbers = {2, 3, 5, 4}
print('numbers =', numbers)
# Returns None
# Meaning, absence of a return value 
print(numbers.discard(2))

print('numbers =', numbers)

numbers = {2, 3, 4, 5}
None
numbers = {3, 4, 5}

In [ ]:
# intersection

In [80]:
A = {2, 3, 5, 4}
B = {2, 5, 100}
C = {2, 3, 8, 9, 10}

print(B.intersection(A))
print(B.intersection(C))
print(A.intersection(C))

{2, 5}
{2}
{2, 3}

In [81]:
# Example 2:

A = {100, 7, 8}
B = {200, 4, 5}
C = {300, 2, 3}
D = {100, 200, 300}

print(A.intersection(D))
print(B.intersection(D))
print(C.intersection(D))
print(A.intersection(B, C, D))

{100}
{200}
{300}
set()

In [ ]:
# & is noting but both values should be present in set1 and set 2

In [82]:
A = {100, 7, 8}
B = {200, 4, 5}
C = {300, 2, 3, 7}
D = {100, 200, 300}

print(A & C)
print(A & D)


print(A & C & D)
print(A & B & C & D)

{7}
{100}
set()
set()

In [83]:
# Python Set isdisjoint()
# The isdisjoint() method returns True if two sets are disjoint sets. If not, it returns False.

# Two sets are said to be disjoint sets if they have no common elements. For example:

# A = {1, 5, 9, 0}
# B = {2, 4, -5}

In [84]:
# Return Value from issubset()
# The issubset() returns

# True if A is a subset of B
# False if A is not a subset of B

In [85]:
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
C = {1, 2, 4, 5}

print(A.issubset(B))

# Returns False
# B is not subset of A
print(B.issubset(A))

# Returns False
print(A.issubset(C))

# Returns True
print(C.issubset(B))

True
False
False
True

In [86]:
# Python Set issuperset()
# The issuperset() method returns True if a set has every elements of another set (passed as an argument). If not, it returns False.

# Set A is said to be the subset of set B if all elements of A are in B.

In [90]:
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
C = {1, 2, 3}

# Returns True
print(A.issuperset(B))
print(C.issuperset(A))
print(A.issuperset(C))
print(A.issuperset(A))

True
False
True
True

In [91]:
# Return Value from pop()
# The pop() method returns an arbitrary (random) element from the set. Also, the set is updated and will not contain the element (which is returned).

# If the set is empty, TypeError exception is raised.

In [92]:
A ={'a', 'b', 'c', 'd'}

print('Return Value is', A.pop())
print('A = ', A)

Return Value is a
A =  {'b', 'd', 'c'}

In [93]:
help(A.pop)

Help on built-in function pop:

pop(...) method of builtins.set instance
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [95]:
A ={'a', 'b', 'c', 'd'}

print('Return Value is', A.pop())
print('A = ', A)

Return Value is a
A =  {'b', 'd', 'c'}

In [97]:
A ={'a', 'b', 'c', 'd'}

print('Return Value is', A.pop())
print('A = ', A)

Return Value is a
A =  {'b', 'd', 'c'}

In [98]:
# Python Set symmetric_difference()
# The symmetric_difference() method returns the symmetric difference of two sets.

# The symmetric difference of two sets A and B is the set of elements that are in either A or B, but not in their intersection.

In [99]:
# Example 1: Working of symmetric_difference()

A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }
C = {}

print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

print(A.symmetric_difference(C))
print(B.symmetric_difference(C))

{'e', 'b', 'a'}
{'e', 'a', 'b'}
{'a', 'b', 'd', 'c'}
{'d', 'c', 'e'}