In [6]:
# # Write a Python program to convert a list of multiple integers into a single integer. 
# # 		Sample list: [11, 33, 50]
# # 		Expected Output: 113350

# Sample_list = [11, 33, 50]


# "".join(map(str, Sample_list))
# map(str, Sample_list)

'113350'

TypeError: sequence item 0: expected str instance, int found

In [7]:
# zip:

# if we want to group same index positions we can able to go for zip 

type(zip)

type

In [12]:
# basic of zip function and how to use 

names = ['alice', 'Bob', 'ganesh']
age = [24, 30, 25]

zipped = zip(names, age)

for name, age in zipped:
    print(name, age )

alice 24
Bob 30
ganesh 25

In [15]:
a = 'hi'
b = 1,2

list(zip(a,b))

[('h', 1), ('i', 2)]

In [16]:
a = {"key":1 , "value":2}
b = "hi"

list(zip(a, b))

[('key', 'h'), ('value', 'i')]

In [17]:
# Create a dictionary from two lists.
names = ['Alice', 'Bob', 'Carol']
ages = [25, 30, 35]

dict_zip = dict(zip(names,ages))

In [18]:
dict_zip

{'Alice': 25, 'Bob': 30, 'Carol': 35}

In [19]:
zipped = [(1, 2), (3, 4), (5, 6)]

names, ages = zip(*zipped)

In [20]:
names, ages

((1, 3, 5), (2, 4, 6))

In [23]:
names = ('alice', 'Bob', 'ganesh')
age = (24, 30, 25)

list(zip(names,age))

[('alice', 24), ('Bob', 30), ('ganesh', 25)]

In [25]:
# nput: nums = [2, 7, 11, 15], target = 9
# Output: [0, 1]
# Explanation: nums[0] + nums[1] = 2 + 7 = 9

In [46]:
# nums = [2, 7, 11, 15]
nums = [7, 11,2, 15]
res =[]
# value = 0
for i in range(len(nums)):
    # print(i)
    value = nums[i]
    for val in nums[i:]:
        # print(val)
        if value + val == 9:
            print("hey there")
            # print()
            # print()
            res.append(i)
            res.append(val)
            # res.append(nums.index(value))
            # res.append(nums.index(val))

print(res)

hey there
[0, 2]

In [45]:
print(nums[i])
print(nums[i+1:])

15
[]

In [47]:
# Input: nums = [3, 5, 7, 2, 8, 4]
# Output: 56
# Explanation: The maximum product is 8 * 7 = 56.

In [66]:
nums = [3, 5, 7, 2, 8, 4]

index = 1
max_index = nums[0]

while index < len(nums):

    if nums[index] > max_index:
        max_index = nums[index]
    index += 1
       
   
# print(max_index)  
nums.sort()
second_laregest = nums[-2]

print(max_index * second_laregest)

8
56

In [58]:
# Define your list
my_list = [10, 20, 30, 40, 50]

# Initialize variables
max_value = my_list[0]  # Assume the first element is the maximum
second_max_value = None  # Initialize second maximum value to None
index = 1  # Start comparing from the second element

# Use a while loop to iterate through the list
while index < len(my_list):
    if my_list[index] > max_value:
        # If current element is greater than current max_value,
        # update second_max_value and max_value accordingly
        second_max_value = max_value
        # print(second_max_value)
        max_value = my_list[index]
    elif my_list[index] < max_value:
        # If current element is less than current max_value,
        # check if it's greater than second_max_value
        if second_max_value is None or my_list[index] > second_max_value:
            second_max_value = my_list[index]
    index += 1

# # Print the result
# if second_max_value is not None:
#     print("The second maximum value in the list is:", second_max_value)
# else:
#     print("There is no second maximum value in the list."
print("The first maximum value in the list is:", max_value)
print("The second maximum value in the list is:", second_max_value)

10
20
30
40
The first maximum value in the list is: 50
The second maximum value in the list is: 40

In [59]:
my_list = [10, 20, 30, 40, 50]

my_list.sort()

In [60]:
my_list

[10, 20, 30, 40, 50]

In [61]:
my_list[-2]

40

In [77]:
nums = [3, 5, 7, 2, 8, 4]

# Initialize variables
max_num = 0
second_max_num = float('-inf')


# Find the maximum and second maximum numbers
for num in nums:
    if num > max_num:
        second_max_num = max_num
        print("sec:",second_max_num)
        max_num = num
        print(max_num)
    elif num > second_max_num:
        second_max_num = num

# Calculate and print the maximum product
print(max_num * second_max_num)

sec: 0
3
sec: 3
5
sec: 5
7
sec: 7
8
56

In [71]:
-1 > -2

True

In [72]:
-2 > -1

False

In [73]:
-1 > 0

False

In [74]:
-1 > -3

True

In [75]:
-3 < -5

False

In [76]:
-3 > -5

True