In [8]:
class Student:

    location = 'Bangaluru'
    collage = 'Rljit'

    def __init__(self, fname, lname, age, per):
        self.fname = fname
        self.lname = lname
        self.age = age
        self.per = per
        print("I am in __init__ ")
        
    def full_name(self):
        return f"{self.fname} {self.lname}"

    def info(self):

        return f"my name is {self.full_name()} am currently -{self.age}-i scored {self.per}-i percued in {self.location}-at {self.collage}"

obj = Student('Ganesh', 'chintala', 25, 54)

I am in __init__

In [9]:
obj.full_name()

'Ganesh chintala'

In [10]:
obj.info()

'my name is Ganesh chintala am currently -25-i scored 54-i percued in Bangaluru-at Rljit'

In [11]:
obj.__dict__

{'fname': 'Ganesh', 'lname': 'chintala', 'age': 25, 'per': 54}